<script type="text/javascript">
    fbq('track', {$event}{ifset $parameters}, {$parameters|noescape}{/ifset});
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={$id|noescape}&ev=PageView&noscript=1"/></noscript>
